In [ ]:
### SECTION 1-BEGINNER LEVEL QUESTIONS

In [ ]:
##2. Reverse a list using Python

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
###3. Given two numbers, write a python code to find the maximum of these two numbers.
##Sample input: a=2, b=4

In [ ]:
def maximum(a,b):
  if a>=b:
    return a
  else:
    return b
a=2
b=4
print(maximum(a,b))

4

In [ ]:
###4. Write a python program to find the square of 5.

In [1]:
n=5
square=n**2
print(square)

25

In [ ]:
### SECTION 2-INTERMEDIATE LEVEL QUESTIONS

In [ ]:
####7. Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
num=int(input('Enter the number of rows'))
for i in range(0,num):
  for j in range(0,i+1):
    print('*',end='')
  print() 

for i in range(0,num):
  for j in range(i,num-1):
    print('*',end='')
  print()

Enter the number of rows5
*
**
***
****
*****
****
***
**
*

In [ ]:
###8. Write a python function to calculate the factorial of a number (a non negative integer). The function accepts the number as an argument.
###Sample input: 3, Sample output: 6

In [ ]:
def fact(n):
  if n<=0:
    return 1
  else:
    return n*fact(n-1)
n=int(input('Enter the number'))
print(fact(n))

Enter the number3
6

In [ ]:
###10. Write a program to accept a string from the user and display characters that are present at an even index number

In [ ]:
str=input('Enter a string:')
even_chars=[]
odd_chars=[]
for i in range(len(str)):
  if i%2==0:
    even_chars.append(str[i])
  else:
    odd_chars.append(str[i])
print('Odd characters:{}',odd_chars)
print('Even characters:{}',even_chars)

Enter a string:python programming
Odd characters:{} ['y', 'h', 'n', 'p', 'o', 'r', 'm', 'i', 'g']
Even characters:{} ['p', 't', 'o', ' ', 'r', 'g', 'a', 'm', 'n']

In [ ]:
### SECTION 3-DIFFICULT LEVEL QUESTIONS

In [ ]:
###11. Write a python program to print the numbers from a given number n till 0 using recursion

In [ ]:
def p_number(n):
  if n>0:
    p_number(n-1)
    print(n,end='')
n=int(input('Enter the number'))
print(p_number(n))

Enter the number50
1234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950None

In [ ]:
###12. Modify the element of a nested list inside the following list:
###Sample input : list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
###Change the element 35 to 3500

In [ ]:
 list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1]=3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

In [ ]:
###15. Python program to convert the temperature in degree centigrade to Fahrenheit and vice versa.

In [ ]:
def temp(cel):
  f=(cel*1.8)+32
  return f
cel=float(input('Enter the temperature in celcius:'))
fahr=temp(cel)
print('Equivalent temperature in fahrenheit:',temp(cel))
def temp(fahr):
  c=(fahr-32)/1.8
  return c
fahr=float(input('Enter the temperature in fahrenheit:'))
cel=temp(fahr)
print('Equivalent temoerature in celcius',temp(fahr))

Enter the temperature in celcius:35
Equivalent temperature in fahrenheit: 95.0
Enter the temperature in fahrenheit:96
Equivalent temoerature in celcius 35.55555555555556